<div id="<%= dom_id pruduct %>">
  <p>
    <strong>Name:</strong>
    <%= pruduct.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pruduct.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= pruduct.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= pruduct.price %>
  </p>

</div>
