<p style="color: green"><%= notice %></p>

<%= render @pruduct %>

<div>
  <%= link_to "Edit this pruduct", edit_pruduct_path(@pruduct) %> |
  <%= link_to "Back to pruducts", pruducts_path %>

  <%= button_to "Destroy this pruduct", @pruduct, method: :delete %>
</div>
